.custom-card {
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.custom-card .card-body {
  padding: 55px 0;
}

.custom-card .card-body i {
  display: block;
  font-size: 40px;
  margin-bottom: 18px;
  color: #ff7a57;
}

.custom-card:hover, .custom-card:active {
  background: #ff7a57;
  color: #fff;
}

.custom-card:hover i, .custom-card:active i {
  color: #fff;
}
